# Flask Variables
SECRET_KEY="YOUR-SECRET-KEY"
# Flask Cache
CACHE_ENABLED="True"
CACHE_TYPE="SimpleCache" # or RedisCache
CACHE_STORAGE_URL="YOUR-CACHE-STORAGE-URL" # Redis example: redis://@localhost:6379
# Flask Ratelimit
RATELIMIT_ENABLED="True"
RATELIMIT_LIMIT="5/minute"
RATELIMIT_STORAGE_URL="memory://" # Redis example: redis://localhost:6379
