<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="/images/favicon.ico" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- JAVASCRIPT -->
    <script src="/js/theme.js"></script>
  </head>

  <body class="bg-gray-100 dark:text-white dark:bg-gray-800">
    {% include 'includes/navigation.html' %}

    <main class="px-4 py-8">
      {% block content %}{% endblock content %}
    </main>

    {% include 'includes/footer.html' %}
    {% block scripts %}{% endblock scripts %}
    <script src="/js/main.js"></script>
  </body>
</html>
