{% import 'components/navbar.html' as navbar %}
<nav
  class="px-2 py-1 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700"
>
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    {{ navbar.logo("Reddit Downloader") }}
    {{ navbar.burgerButton("burger-button") }}
    <div id="nav-menu" class="hidden w-full md:block md:w-auto">
      <div
        class="flex gap-4 font-semibold md:items-center max-md:flex-col max-md:my-2 max-md:gap-1"
      >
        {{ navbar.button(text="Github Repository", href="https://github.com/riad-azz", target="_blank") }}
        {{ navbar.button(text="Author", href="https://github.com/riad-azz", target="_blank") }}
        {{ navbar.themeButton() }}
      </div>
    </div>
  </div>

  <script>
    // NAVBAR DROPDOWN MENU
    try {
      (() => {
        const navMenu = document.getElementById("nav-menu");
        const navMenuBtn = document.getElementById("burger-button");

        const toggleMenu = () => {
          navMenu.classList.toggle("hidden");
        };

        navMenuBtn.onclick = toggleMenu;
      })();
    } catch (error) {
      console.error(error);
    }
  </script>
</nav>
