<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home_page') }}">
        Flask App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-dark" href="{{ url_for('home_page') }}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <div class="mt-2 mr-5">Welcome, {{ current_user.username.capitalize() }}</div>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" href="{{ url_for('logout') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                </a>
            </li>
            {% else %}
            <li class="nav-item ">
                <a class="btn btn-dark" href="{{ url_for('login_page') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-dark" href="{{ url_for('register_page') }}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>